@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Amiri للعربي والإنجليزي */
* {
  font-family: 'Amiri', serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 2px;
  transition: width s ease;
}

::-webkit-scrollbar-track {
  background: #1A1410;
}

::-webkit-scrollbar-thumb {
  background: rgba(212, 151, 0, 0.3);
  border-radius: 0;
  transition: background 30s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #d49700;
}

::-webkit-scrollbar:hover {
  width: 10px;
}

/* Text Selection */
::selection {
  background-color: #DAA520;
  color: white;
}

::-moz-selection {
  background-color: #DAA520;
  color: white;
}

/* Custom Scrollbar for Cart */
.cart-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.cart-scrollbar::-webkit-scrollbar-track {
  background: #1A1410;
}

.cart-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(212, 151, 0, 0.3);
  border-radius: 0;
}

.cart-scrollbar:hover::-webkit-scrollbar {
  width: 10px;
}

.cart-scrollbar:hover::-webkit-scrollbar-thumb {
  background: #d49700;
}